.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__button {
    align-self: end;
    min-width: 269px;

    @include mobile {
      min-width: 300px;
      align-self: center;
    }

    @include mobile-s {
      width: 100%;
    }
  }
}
